$mainColor-1: #000000;
$mainColor-1_1: #6262627a;
$mainColor-2: #0E3958;
$mainColor-2_2: #0E3958;
$cardTitle: #7c899f;
$secondColor: #0982c5;
$mainBgColor: #F5F5FA;
$cardBgColor: #fff;
$color-wight: #fff;
$color_light_wight: #ffffffbf;
$borderColor: #D1D5E0;
$blackColor: #000;
$formTitle: #2c2c2c;
$success: #55d775;
$danger: #ea5455;
$warning: #ff9f43;
$dark: #1e1e1e;
$default: #26bbae;
$extraSmall: 12px;
$Small: 15px;
$Meduim: 19px;
$Large: 24px;
$extraLarge: 29px;